body {
    font-family: "Century Gothic";
}

a{
    text-decoration: none !important;
}

@media (min-width: 1200px){
.container {
    max-width: 1200px;
}
}

#main-menu {
    background: #fff;
    border-bottom: 1px solid #ddd;
}

.copyright{
	text-align: center;
}

.water-mark{
	text-align: right;
}

.back-to-top {
	color: white;
    position: fixed;
    bottom: 30px;
    right: 25px;
    display: none;
	background: #009a46;
}

#footer-bottom{
	color: white;
	background: #000;
	padding: 25px 0;
	font-size: 15px;
}

#top-header{
	background: #345;
	font-size: 13px;
	color: white;
	padding: 6px 0;
}

.top-left-1st, .top-left-2nd{
	margin-right: 12px;
}

.top-right span{
	margin-right: 12px;
}

.top-right .fa {
    margin-right: 5px;
    font-size: 16px;
}

#logo-header {
    padding: 10px;
    background: #009a4660;
}

button.search-top-btn {
    border: none;
    background: none;
}

input.search-top {
    border: none;
	outline: none;
	padding: 3px 5px;
}

.header-right a .fa {
    font-size: 15px;
    color: #333;
}

.header-right a .fa {
    border: 2px solid;
    padding: 5px;
    border-radius: 50%;
    transition: all 0.3s ease-in-out;
}

.header-right i.fa:hover{
    transform: translateY(-2px);
}

.header-right i.fa.fa-shopping-cart{
    position: relative;
}

#cart-count {
    position: absolute;
    top: -9px;
    right: -12px;
    background: whitesmoke;
    border: 1px solid;
    padding: 3px;
    border-radius: 50%;
    min-width: 20px;
    text-align: center;
    font-size: 13px;
}

.search-top .fa {
    font-size: 17px;
}

input#search-input {
    width: 85%;
    border: none;
    font-size: 14px;
    outline: none;
}

.dropleft{
    display: inline;
}

.dropleft .dropdown-toggle:before{
    display: none;
}

.header-right .dropdown-menu {
    padding: 0;
    font-size: 14px;
    min-width: 8rem;
}

.navbar{
	padding: 0;
}

nav.navbar.navbar-expand-lg {
    background: #fff;
    font-weight: 600;
}

.navbar-expand-lg .navbar-nav .nav-link{
	padding: 7px 18px;
}

#main-menu .nav-item {
	cursor: pointer;
}

#main-menu .nav-item:hover {
    background: #009a46;
}

.nav-item .dropdown-menu {
    margin: 0;
	padding: 0;
	font-size: 14px;
	min-width: auto;
	border-radius: 0;
}

.nav-item .dropdown-item:hover{
	background: #00e86a;
}

.nav-item .dropdown>.dropdown-menu {
	top: 200%;
	transition: 0.3s all ease-in-out;
}

.nav-item .dropdown:hover>.dropdown-menu {
	display: block;
	top: 100%;
	text-transform: uppercase;
	margin-top: -1px;
}

.nav-item .dropdown>.dropdown-toggle:active {
  /*Without this, clicking will make it sticky*/
    pointer-events: none;
}

.dropdown-item {
    padding: 5px 7px;
    border-bottom: 1px solid #009a46;
}

a.nav-link {
    color: black;
	font-size: 14px;
	border-right: 1px solid #ddd;
	text-transform: uppercase;
}

a.nav-link:hover{
    color: white;
}

.dropdown-item {
    padding: 0.25rem .5rem;
}

#home-slider .owl-item img{
	width: 100%;
	object-fit: cover;
    height: 475px;
    object-position: top;
}

#home-slider .owl-theme .owl-dots{
    display: none;
}

#home-slider .owl-nav .owl-next{
    font-size: 26px !important;
    color: #009a46 !important;
    position: absolute;
    right: 0;
    top: 45%;
    background: rgba(255,255,255,0.2) !important;
    width: 60px;
    height: 60px;
    box-shadow: 0 7px 8px 0 rgba(0,0,0,.35);
	outline: none;
    margin: 0;
}

#home-slider .owl-nav .owl-prev{
	font-size: 26px !important;
    color: #009a46 !important;
    position: absolute;
    left: 0;
    top: 45%;
    background: rgba(255,255,255,0.2) !important;
    width: 60px;
    height: 60px;
    box-shadow: 0 7px 8px 0 rgba(0,0,0,.35);
	outline: none;
    margin: 0;
}

#home-slider .owl-next .fa-chevron-right{
	padding-left: 4px;
}

#home-slider .owl-prev .fa-chevron-left{
	padding-right: 4px;
}

#footer-top {
    padding: 20px 0 80px;
}

#footer-top a {
    color: black;
}

#footer-top p {
    margin-bottom: 5px;
	font-size: 15px;
}

#footer-top .fa {
    padding: 5px;
    color: #009a46;
}

.card-img-wrap {
    padding: 30px 0 15px;
    text-align: center;
}

.product-card-title {
    height: 44px;
    overflow: hidden;
    padding: 0 15px;
    margin-bottom: 10px;
}

.product-card-price{
    font-size: 20px;
    margin-bottom: 10px;
}

.before-discount{
    font-size: 1em!important;
    text-decoration: line-through;
    color: #bcbec0;
    font-weight: 100;
}

.img-wrap{
	height: 200px;
	object-fit: contain;
}

#recent-slider .owl-theme .owl-dots{
    display: none;
}

.owl-theme .owl-nav .disabled{
    pointer-events: none;
}

.card-btn {
	margin: 20px 0;
}

a.add-to-cart {
	margin: 10px 0;
    background: black;
    color: white;
    text-decoration: none;
	padding: 8px 40px ;
}

a.add-to-cart:hover {
    background: #009a46;
}

.section-header{
    position: relative;
    display: inline-block;
    padding: 0 55px;
    margin: 25px 0;
    font-size: 32px;
}

.section-header:before, .section-header:after{
    position: absolute;
    display: inline-block;
    content: '';
    width: 48px;
    height: 24px;
    top: 9px;
}

.section-header:before{
    left: 0;
    background: url('img/headerbefore.png');
    background-size: contain;
    background-repeat: no-repeat;
}

.section-header:after{
    right: 0;
    background: url('img/headerafter.png');
    background-size: contain;
    background-repeat: no-repeat;
}

.product-card {
    position: relative;
    border: 1px solid;
}

.card-body{
	padding: 5px;
}

.product-card-id{
    position: absolute;
    top: 10px;
    right: 10px;
}

.product-card-offer{
    position: absolute;
    top: 20px;
    left: 20px;
}

.product-card-discount {
    font-weight: 600;
    background: rgba(0, 154, 70,0.8);
    border-radius: 50%;
    width: 60px;
    height: 60px;
    padding: 11px;
    color: white;
}

.percent {
    line-height: 17px;
    font-size: 20px;
}

.text1 {
    font-size: 12px;
    line-height: 12px;
}

.text2 {
    font-size: 14px;
    line-height: 13px;
}

.product-card-offer-valid {
    border-top: 1px solid #009a46;
    border-bottom: 1px solid #009a46;
    padding: 5px;
    margin-top: -8px;
    background: rgba(255,255,255,.85);
}

.call-us{
	padding: 25px 5px;
	font-size: 22px;
	background: #fff;
	text-align: center;
}

.call-us .fa{
    border: 1px solid #009a46;
    padding: 10px 12px;
    border-radius: 50%;
    color: #009a46;
	margin-left: 15px;
}

.call-subscribe{
	margin: 30px 0;
}

#recent-slider .owl-nav .owl-prev{
    font-size: 36px !important;
    color: #000 !important;
    position: absolute;
    left: -24px;
    top: 40%;
    outline: none;
}

#recent-slider .owl-nav .owl-next{
    font-size: 36px !important;
    color: #000 !important;
    position: absolute;
    right: -24px;
    top: 40%;
	outline: none;
}

#recent-slider .owl-nav .owl-next .fa, #recent-slider .owl-nav .owl-prev .fa{
    background: white;
}

.category-home{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: 385px;
    grid-column-gap: 1.5rem;
    grid-row-gap: 1.5rem;
}

.category-home-block{
    position: relative;
}

.black-overlay{
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.3);
}

.category-home-block:nth-child(2){
    grid-row: span 2;
}

.category-img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.category-home-block-content{
    position: absolute;
    top: 0;
    color: white;
    padding: 35px 25px;
}

.category-home-block-title {
    font-size: 32px;
    font-weight: 700;
}

.category-home-block-subtitles {
    font-size: 20px;
}

.see-more-btn {
    margin: 20px 0;
    transition: all 0.2s ease;
}

a.see-more-link {
    color: white;
    background: black;
    padding: 10px 20px;
}

.see-more-btn:hover{
    transform: translateY(-3px);
}

.banner-img{
    width: 100%;
}

.icon-img{
    width: 60px;
    height: 60px;
    object-fit: contain;
    transform: rotateY(180deg);
    transition: all 1s ease;
}

.icon-block{
    display: flex;
    padding: 10px 0;
    color: white;
}

.icon-block-left .icon-block, .icon-block-right .icon-block{
    min-height: 80px;
    background: #7b9f52;
}

.icon-block-center .icon-block{
    min-height: 90px;
    background: #93bc63;
}

.left-block {
    width: 75px;
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}

.icon-block:hover .icon-img{
    transform: rotateY(0deg);
}

.row.icon-list {
    padding: 0 15px;
    align-items: center;
}

.icon-block-left, .icon-block-right, .icon-block-center{
    position: relative;
}

.icon-block-left {
    padding-left: 8px;
}

.icon-block-right {
    padding-right: 8px;
}

.icon-block-left:before{
    position: absolute;
    display: block;
    content: '';
    width: 8px;
    top: 0;
    bottom: 0;
    background: url('img/leftrightbefore.png');
    background-size: contain;
    left: 0;
}

.icon-block-left:after{
    position: absolute;
    display: none;
    content: '';
    width: 8px;
    top: 0;
    bottom: 0;
    background: url('img/leftrightafter.png');
    background-size: contain;
    right: 0;
}

.icon-block-right:after{
    position: absolute;
    display: block;
    content: '';
    width: 8px;
    top: 0;
    bottom: 0;
    background: url('img/leftrightafter.png');
    background-size: contain;
    right: 0;
}

.icon-block-right:before{
    position: absolute;
    display: none;
    content: '';
    width: 8px;
    top: 0;
    bottom: 0;
    background: url('img/leftrightbefore.png');
    background-size: contain;
    left: 0;
}

@media (max-width: 767px){
    .icon-block-left {
        padding-right: 8px;
    }

    .icon-block-right {
        padding-left: 8px;
    }
    .icon-block-left:after{
        display: block;
    }
    .icon-block-right:before{
        display: block;
    }
}

.icon-block-center:before, .icon-block-center:after{
    position: absolute;
    display: block;
    content: '';
    width: 8px;
    top: 0;
    bottom: 0;
    z-index: 9;
}

.icon-block-center:before{
    background: url('img/centerbefore.png');
    background-size: contain;
    left: -8px;
}

.icon-block-center:after{
    background: url('img/centerafter.png');
    background-size: contain;
    right: -8px;
}

.homeSection{
    margin-bottom: 50px;
}

.number-input input[type="number"] {
  -webkit-appearance: textfield;
  -moz-appearance: textfield;
  appearance: textfield;
}

.number-input input[type=number]::-webkit-inner-spin-button,
.number-input input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
}

.number-input button {
  -webkit-appearance: none;
  background-color: transparent;
  border: none;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  margin: 0;
  position: relative;
}

.number-input button:before,
.number-input button:after {
  display: inline-block;
  position: absolute;
  content: '';
  height: 2px;
  transform: translate(-50%, -50%);
}

.number-input button.plus:after {
  transform: translate(-50%, -50%) rotate(90deg);
}

.number-input input[type=number] {
  text-align: center;
}

.number-input.number-input {
  border: 1px solid #ced4da;
  width: 8rem;
  border-radius: .25rem;
  background: #e1e8ee;
}

.number-input.number-input button {
  width: 1.7rem;
  height: .7rem;
  outline: none;
}

.number-input.number-input button:before,
.number-input.number-input button:after {
  width: .7rem;
  background-color: #495057;
}

.number-input.number-input input[type=number] {
  max-width: 3rem;
  padding: .5rem;
  border: 1px solid #ced4da;
  border-width: 0 1px;
  font-size: 1rem;
  height: 2rem;
  color: #495057;
}

@media not all and (min-resolution:.001dpcm) {
  @supports (-webkit-appearance: none) and (stroke-color:transparent) {

    .number-input.def-number-input.safari_only button:before,
    .number-input.def-number-input.safari_only button:after {
      margin-top: -.3rem;
    }
  }
}

.home-brand-img{
    max-width: 100%;
    width: 370px;
    height: 370px;
    object-fit: cover;
}

.home-brand-title{
    font-size: 23px;
    color: inherit;
    padding-top: 15px;
}

.home-brand-text{
    font-size: 14px;
}

a.shop-now-btn {
    background: black;
    color: white;
    padding: 10px 20px;
    border-radius: 25px;
}

.shop-now-btn .fa{
    transition: all 0.5s ease;
}

.shop-now-btn:hover .fa{
    transform: translateX(3px);
}

.brand-block {
    padding: 15px;
    border: 1px solid #ccc;
}

.subscribe {
    padding: 25px 15px;
    background: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.subscribe-text1 {
    font-size: 22px;
    line-height: 21px;
}

.subscribe-text2 {
    font-size: 15px;
    color: #b6b6b6;
}

.newsletter-form {
    border: 1px solid #ebebeb;
}

button.subscribe-btn {
    padding: 0 12px;
    height: 40px;
    border: none;
    background: #009a46;
    border-radius: 0;
    color: white;
}

input#subscribeInput {
    border: none;
    width: 350px;
}

#callSubscribe{
    padding: 70px 0;
}

#homeTestimonial .owl-nav .owl-prev{
    font-size: 36px !important;
    color: #000 !important;
    position: absolute;
    left: -30px;
    top: 40%;
    outline: none;
}

#homeTestimonial .owl-nav .owl-next{
    font-size: 36px !important;
    color: #000 !important;
    position: absolute;
    right: -30px;
    top: 40%;
    outline: none;
}

#homeTestimonial .owl-nav .owl-next .fa, #recent-slider .owl-nav .owl-prev .fa{
    background: white;
}

#homeTestimonial .item {
    border: 1px solid #ddd;
    padding: 20px;
}

.testimonial-title {
    font-size: 20px;
    margin-bottom: 5px;
}

.testimonial-text {
    font-size: 15px;
}

.category-page-title{
    background-color: #000;
    width: 100%;
    margin: 30px 0;
    padding: 5px 10px;
    color: #fff;
    font-size: 1.7rem;
}

.sub-category{
    padding: 5px 20px;
}

.sub-category li{
    margin-bottom: 8px;
}

.sub-category a{
    display: block;
    cursor: pointer;
    border-bottom: 1.5px solid rgba(0,0,0,0);
    transition: all 0.2s ease;
}

.sub-category a:hover{
    border-bottom: 1.5px solid rgba(0,0,0,1);
}

.filter{
    font-size: 20px;
    margin-bottom: 5px;
}

a.card-link {
    display: block;
    color: #000;
}

.card{
    border: none;
}

.card-header{
    position: relative;
    padding: .5rem .3rem;
    background: none;
}

i.fa.fa-chevron-down {
    position: absolute;
    right: 0;
    top: 15px;
    color: #bbb;
}

label.custom-control-label {
    width: 100%;
    cursor: pointer;
}

.custom-control {
    margin-bottom: 5px;
}

.custom-control-input:checked~.custom-control-label::before {
    border-color: #009a46;
    background-color: #009a46;
    outline: none;
}

select#sortBy {
    padding: 5px;
}

.product-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
}

#productList {
    margin: 40px 0;
}

.search-box {
    display: inline;
}

#search-form{
    display: inline;
}

.search-btn {
    background: none;
    border: none;
    padding: 0;
}

.search-input {
    border: none;
    width: 0;
    padding: 0;
    margin: 0;
    outline: none;
    transform: all 0.3s ease;
}

.search-box i.fa.fa-search {
    border: 2px solid;
    padding: 5px;
    border-radius: 50%;
    background: white;
}

.search-box{
    transition: all 0.3s ease;
}

.search-box:hover{
    background: white;
    padding: 8px 0;
    border-radius: 10px;
}

.search-box:hover .search-input{
    width: auto;
    padding: 5px;
    margin-left: 6px;
}
.footer-social-section{
    background: #009a46;
}
.footer-social-section {
    background: #009a46;
    text-align: center;
    margin-top: -85px;
    margin-bottom: 20px;
    border-radius: 10px 10px 0 0;
    padding: 12px;
}
.footer-social-text {
    font-size: 22px;
    margin-bottom: 5px;
}
.footer-social-icons .fab {
    width: 40px;
    height: 40px;
    background: white;
    color: #009a46;
    padding: 10px;
    border-radius: 50%;
    margin: 3px;
    border: 2px solid transparent;
    transition: all 1s ease;
}
.footer-social-icons .fab:hover{
    transform: rotate(360deg);
}
#singleProduct{
    padding: 40px 0;
}
.single-product-img{
    width: 100%;
    height: 400px;
    object-fit: contain;
    padding: 20px;
}
.single-product-img-wrap{
    text-align: center;
}
.single-product-breadcrumb {
    margin-bottom: 15px;
}
.product-id{
    font-size: 15px;
    margin-bottom: 5px;
}
.product-title {
    font-size: 22px;
}
.product-price{
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 20px;
}
span.old-price {
    opacity: .2;
    text-decoration: line-through;
}
.product-desc{
    font-size: 15px;
    margin-bottom: 20px;
}
a.add-to-cart-singlepage {
    display: block;
    text-align: center;
    background: #111;
    color: white;
    padding: 10px;
    border: 1px solid transparent;
}
a.add-to-cart-singlepage:hover {
    background: #fff;
    color: black;
    border: 1px solid black;
}
.product-details {
    margin-bottom: 20px;
}
.single-product-qty{
    margin: 10px 0;
}
.related-products{
    margin: 50px 0;
}
#related-slide .owl-nav .owl-prev{
    font-size: 36px !important;
    color: #000 !important;
    position: absolute;
    left: -24px;
    top: 40%;
    outline: none;
}

#related-slide .owl-nav .owl-next{
    font-size: 36px !important;
    color: #000 !important;
    position: absolute;
    right: -24px;
    top: 40%;
    outline: none;
}
#related-slide .owl-nav .owl-next .fa, #related-slide .owl-nav .owl-prev .fa{
    background: white;
}
#cartpage{
    margin: 50px 0;
}
.single-product-img-wrap{
    position: relative;
}
footer {
    border-top: 1px solid #eee;
}
.cart-options {
    box-shadow: 0 0 6px #00000050;
    padding: 20px 12px;
    position: sticky;
    top: 60px;
}
a.checkout-btn {
    color: white;
    background: #111;
    padding: 10px;
    display: block;
    text-align: center;
    border: 1px solid transparent;
    margin-bottom: 15px;
}
a.checkout-btn:hover {
    color: #111;
    background: #fff;
    border: 1px solid #111;
}
a.continue-btn {
    color: white;
    background: #009a46;
    padding: 10px;
    display: block;
    text-align: center;
    border: 1px solid transparent;
}
a.continue-btn:hover {
    color: #009a46;
    background: #fff;
    border: 1px solid #009a46;
}
.cart-table {
    box-shadow: 0 0 5px #00000020;
}
.cart-list-item{
    display: flex;
    justify-content: space-between;
    padding: 25px 15px;
    align-items: center;
    border-bottom: 1px solid #eee;
}
button.remove-item-btn {
    border: none;
    background: none;
    font-size: 20px;
    color: #888;
    outline: none;
    transition: all 0.5s ease;
}
button.remove-item-btn:hover {
   transform: rotate(180deg);
}
.cart-item-img{
    width: 80px;
    height: 80px;
    object-fit: contain;
}
.cart-product-id {
    font-size: 13px;
    margin-top: 5px;
}
.cart-price{
    font-size: 15px;
}
.cart-title {
    text-align: center;
    font-size: 20px;
    padding: 10px;
    background: #eee;
    border: 1px solid;
    margin-bottom: 20px;
}
a.nav-link {
    position: relative;
}
.header-right .nav-item{
    display: inline-block;
}

.header-right .dropdown-menu {
    z-index: 1000;
    padding: 15px;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ddd;
    border-radius: 2px;
    -webkit-box-shadow: 0px 3px 11px 0px rgba(0, 0, 0, 0.09);
    -moz-box-shadow: 0px 3px 11px 0px rgba(0, 0, 0, 0.09);
    box-shadow: 0px 3px 11px 0px rgba(0, 0, 0, 0.09);
}
.header-right .dropdown .dropdown-menu {
    display: block;
    visibility: hidden;
    opacity: 0;
    -webkit-transform: translateY(20px);
    -ms-transform: translateY(20px);
    transform: translateY(20px);
    -webkit-transition: all .3s ease-in;
    -o-transition: all .3s ease-in;
    transition: all .3s ease-in 
}
 .header-right .dropdown:hover>.dropdown-menu {
    visibility: visible;
    opacity: 1;
    -webkit-transform: scaleY(1);
    -ms-transform: scaleY(1);
    transform: scaleY(1);
    opacity: 1;
    visibility: visible;
}
.header-right .dropdown-submenu {
    position: relative;
}
.header-right .dropdown-submenu .dropdown-menu {
    top: 0px;
    left: 100%;
}
.mega-dropdown {
    position: unset;
}
.mega-dropdown-menu {
    width: 450px;
    margin-left: auto !important;
    top: 30px;
    right: 10px;
}
.mega-dropdown-menu ul {
    list-style-type: none;
}
.header-right .nav-link {
    padding: 0;
}
.header-right .dropdown {
    display: inline-block;
}
.mega-dropdown-menu li{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.mega-dropdown-menu img{
    width: 70px;
    height: 70px;
    object-fit: contain;
    padding: 5px;
}
.mega-dropdown-menu .cart-product-title{
    font-size: 13px;
}
.mega-dropdown-menu .cart-product-id{
    font-size: 11px;
}
li.row.mini-total {
    border-top: 1px solid #ddd;
    padding: 10px;
}


/* Login Page */
section#login-wrap {
    padding: 30px 0;
}
h1.section-heading-wrap {
    margin: 30px 0 15px;
}
.login-form {
    border: 1px solid #f2f2f2;
    padding: 20px 15px;
    background: linear-gradient(56deg, #f6f6f6, transparent);
}
.webshop-desc {
    padding: 25px 10px;
}
#login-wrap input[type="text"], input[type="password"], input[type="email"] {
    width: 100%;
    padding: 5px 15px;
    margin-bottom: 15px;
    outline-color: #98fb98;
}
.input-title {
    margin: 10px 0;
}
input[type="checkbox"] {
    margin: 20px 0;
}
.forget-link-main {
    text-align: center;
}
button.btn-login {
    margin: 15px 0px;
    border: none;
    background: #98fb98;
    padding: 5px 15px;
    color: #009a46;
    font-weight: 600;
}
button.btn-login:hover {
    background:#f3f3f3;
    color: black;
    border: 1px solid black;
}

.main-tab-bar {
    margin: 35px 15px;
}
.tab-bar1 {
    margin: 20px 0;
}
a.tab-bar2.active {
    color: #009a46;
    font-weight: 600;
    background: #98fb98;
    padding: 10px 200px 10px 10px;
    width: 100px;
}
a.tab-bar2, a.tab-bar2-1, a.tab-bar2-2 {
    color: black;
}

.become-customer {
    padding: 30px;
}
h3.customer-section-heading {
    font-weight: 600;
}
li.customer-list {
    margin: 12px 0;
    font-weight: 500;
    font-size: 17px;
}
.btn-customer {
    text-align: center;
    margin: 20px 0;
}
a.btn-bcom-customer {
    background: #98fb98;
    color: #009a46;
    font-weight: 600;
    padding: 10px 20px;
}
a.btn-bcom-customer:hover {
    background:#f3f3f3;
    border: 1px solid black;
    color: black;
}



/* Reset Password */
.reset-pw-form {
    border: 1px solid #f2f2f2;
    padding: 20px 10px;
    background: linear-gradient(56deg, #f6f6f6, transparent);
}
a.tab-bar2-1.active {
    color: #009a46;
    font-weight: 600;
    background: #98fb98;
    padding: 10px 110px 10px 10px;
    width: 100px;
}
button.btn-reset {
    margin: 15px 0px;
    border: none;
    background: #98fb98;
    padding: 5px 15px;
    color: #009a46;
    font-weight: 600;
}
.go-back {
    margin: 20px 0;
}
a.link-go-back {
    font-weight: 600;
}

/* Register */
.register-form {
    border: 1px solid #f2f2f2;
    padding: 20px 15px;
    background: linear-gradient(56deg, #f6f6f6, transparent);
}
.notification {
    padding: 10px 0 20px;
    font-size: 20px;
    font-weight: 600;
}
a.tab-bar2-2.active {
    color: #009a46;
    font-weight: 600;
    background: #98fb98;
    padding: 10px 95px 10px 10px;
    width: 100px;
}
#register-form input[type="checkbox"] {
    margin: 5px 0;
}
button.btn-register {
    margin: 15px 0px;
    border: none;
    background: #98fb98;
    padding: 5px 15px;
    color: #009a46;
    font-weight: 600;
}
a.nav-link:hover {
    background: #98FB98;
    color: black;
}


/* Contact Page */
#contact-wrap input[type="text"], #contact-wrap textarea, #contact-wrap input[type="email"] {
    width: 100%;
    padding: 5px 7px;
    margin: 0 0 20px;
    background: white;
    border: 1px solid #888888;
    border-radius: unset;
}
h3.section-heading-wrap {
    margin: 50px 0 10px;
    font-weight: 600;
    font-size: 30px;
}
#contact-wrap i.fa.fa-map-marker-alt, #contact-wrap i.fa.fa-phone-volume, #contact-wrap i.fa.fa-envelope {
    font-size: 20px;
    padding: 10px;
    color: #009a46;
}


/* Order */
.order-form {
    margin: 20px 0px;
    padding: 15px 20px;
    box-shadow: 2px 3px 6px #888888;
}
h4.order-form-heading {
    margin: 10px 0 15px;
}
#order-wrap .order-form-wrap {
    padding: 20px 5px;
}
#order-wrap .order-input-form {
    padding: 5px 10px;
}
#order-wrap input[type="text"], #order-wrap input[type="email"], #order-wrap textarea {
    width: 100%;
    padding: 5px 10px;
    border: none;
    background: #f2f2f2;
    margin: 10px 0;
    border-radius: 5px;
}
#order-wrap input[type="radio"] {
    margin: 10px 0 10px 10px;
}
button.btn-order {
    border: none;
    background: #009a46;
    color: white;
    padding: 5px 20px;
    margin: 5px 10px;
}
/* My cart */
.shopping-car-wrap {
    margin: 20px 0px;
    padding: 15px 20px;
    box-shadow: 2px 3px 6px #888888;
}
h5.order-form-heading {
    margin: 10px 0 15px;
}
img.item-img {
    height: 80px;
    width: 80px;
    object-fit: contain;
}
li.order-listing {
    margin: 10px 0;
    list-style: none;
}
.shipping {
    margin: 30px 10px;
}
* {
  margin: 0px;
  padding: 0px;
}

body {
  background-color: tomato;
}

/* vertical threline nav bar */

.v-navbar {
  width: 60px;
  height: auto;
  overflow: hidden;
  border: 4px solid #49b293;
  padding: 15px 10px;
  margin: 50px auto;
  display: block;
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
}

.v-navbar div {
  width: 5px;
  height: 60px;
  background-color: #fff;
  margin-left: 10px;
  border-radius: 25px;
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
}

.v-one,
.v-two,
.v-three {
  float: left;
}

.v-navbar .v-two {
  height: 45px;
}

.v-navbar .v-three {
  height: 35px;
}

.v-navbar:hover div {
  height: 60px;
}


/* title */

.title {
  text-align: center;
  color: #fff;
  text-transform: uppercase;
  font-size: 20px;
  font-weight: bold;
  font-family: 'Overpass Mono', monospace;
  text-decoration: underline;
}

/* horizontal threline nav bar */

.navbar {
  width: 60px;
  display: block;
  margin: 50px auto;
  border: 4px solid #00bfb6;
  padding: 8px 10px;
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
}

.navbar div {
  height: 5px !important;
  background: #fff;
  margin: 7px 0px 7px 0px;
  border-radius: 25px;
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
}

.two {
  width: 35px;
}

.three {
  width: 50px;
}

.navbar:hover div {
  width: 60px;
}















